#content{
    margin: 100px auto 20px auto;
    width: 400px;
    height: 266px;
    position: relative;
    border: 10px solid #4c4c4c;
    
}

#content img{
    width: 400px;
    height: 266px;
    position: absolute;
    left: 0;
    top: 0;
}

p{
   text-align: center;
   width: 420px;
   height: 40px;
   margin:auto ;
   box-sizing: border-box;
   background-color: brown;
   display: flex;
   justify-content: space-evenly;
}

a{
    margin-top: 5px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    
}

a:hover{

    color:#BAB86C;
}

.fadeinimg{

    animation: fadein 2s;
}

@keyframes fadein{

    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
